{:deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :paths ["classes" "src"]
 :aliases
 {:compile {:main-opts ["-e" "(compile,'cfml.struct)"]}
  :test {:extra-paths ["test"]
         :extra-deps {com.github.seancorfield/expectations {:mvn/version "2.1.188"}
                      org.clojure/test.check {:mvn/version "1.1.1"}}}
  :runner {:extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
           :main-opts ["-e" "(compile,'cfml.struct)"
                       "-m" "cognitect.test-runner"
                       "-d" "test"]}
  :build {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
          :main-opts ["-e" "(compile,'cfml.struct)"
                      "-m" "hf.depstar.jar" "cfml-interop.jar"]}}}
